@import '~antd/lib/style/themes/default.less';

.detailPlaneSmall {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 370px;
  height: 70px;
  background: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  -moz-transition: height 1s;
  -webkit-transition: height 1s;
  -o-transition: height 1s;
  transition: height 0.5s;
}
.detailPlaneLarge {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 390px;
  height: 100%;
  overflow: hidden;
  background: #f7f7f7;
  -moz-transition: height 1s;
  -webkit-transition: height 1s;
  -o-transition: height 1s;
  transition: height 0.1s;
}
.detailPlaneHistory {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 370px;
  height: 600px;
  background: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  -moz-transition: height 1s;
  -webkit-transition: height 1s;
  -o-transition: height 1s;
  transition: height 0.5s;
}

.openCloseButton {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  color: gray;
  text-align: center;
}
.openCloseButton:hover {
  color: black;
}

.detailArea {
  position: absolute;
  top: 50px;
  right: 10px;
  bottom: 30px;
  left: 10px;
  color: gray;
}

.historyLevelArea {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
}
.historyLevel {
  border: 1px solid #bcbcbc;
}

.equipmentList {
  position: absolute;
  top: 55px;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  background: white;
  border: 1px solid #eee;
}
.equipmentItem {
  cursor: pointer;
}
