@import '~antd/lib/style/themes/default.less';

.small {
  position: relative;
  width: 120px;
  height: 25px;
  text-align: center;
}
.large {
  position: relative;
  width: 250px;
  height: 250px;
}
.under {
  position: absolute;
  top: 100%;
  left: 10px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}

.searchPlane {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1001;
  width: 370px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
}
.searchPlaneLeft {
  width: 36px;
  text-align: center;
}
.searchPlaneRight {
  width: 334px;
}

.equipmentStatus {
  position: absolute;
  top: 10px;
  left: 400px;
  width: 200px;
  height: 31px;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
}
