@import '~antd/lib/style/themes/default.less';

.small {
  width: 120px;
  height: 25px;
  position: relative;
  text-align: center;
}
.large {
  width: 250px;
  height: 250px;
  position: relative;
}
.under {
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 10px;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.searchPlane {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
}

.detailPlaneMask {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.detailPlane {
  position: absolute;
  z-index: 1001;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  transition: width 1s;
  -moz-transition: width 1s;
  -webkit-transition: width 1s;
  -o-transition: width 1s;
}

.pumpStatusPlane {
  position: absolute;
  top: 10px;
  right: 220px;
  background: white;
  border: gray;
}
